<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic & food store</title>

    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <link href="images/icon.png" rel="icon" type="icon/css" />

    <link href="css/all" rel="stylesheet" type="text/css" />

    <link href="css/font.css" rel="stylesheet" type="text/css" />

    <link href="css/media.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="container position-rel">
            <div class="row  align-item-center  justify-content-between">
                <div class="logo">
                    <img src="images/logo.png.webp" alt="logo" />
                </div>
                <nav>
                    <ul class="d-flex">
                            <li class="dropdown">
                                <a href="#">
                                    Homepage<i class="fa-solid fa-chevron-down"></i>
                                </a>
                                
                                    <ul class="dropdown-menu positiona-abs">
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                    </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">
                                    About US<i class="fa-solid fa-chevron-down"></i>
                                </a>
                                
                                    <ul class="dropdown-menu positiona-abs">
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                    </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">
                                    Pages<i class="fa-solid fa-chevron-down"></i>
                                </a>
                                
                                    <ul class="dropdown-menu positiona-abs">
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                    </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">
                                    Contact<i class="fa-solid fa-chevron-down"></i>
                                </a>
                                
                                    <ul class="dropdown-menu positiona-abs">
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                page1
                                            </a>
                                        </li>
                                    </ul>
                            </li>
                            <li class="mega-drop">
                                <a href="#">
                                    Shop<i class="fa-solid fa-chevron-down"></i>
                                </a>
                                <div class="mega-dropdown position-abs d-flex">
                                    <div class="menu w-3">
                                        <h3>
                                            Home
                                        </h3>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="menu w-3">
                                        <h3>
                                            Home
                                        </h3>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="menu w-3">
                                        <h3>
                                            Home
                                        </h3>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="menu w-3">
                                        <h3>
                                            Home
                                        </h3>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Shop
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </nav>
                        <nav>
                            <div class="icon">
                                <ul class="top d-flex">
                                    <li>
                                        <a  href="#">
                                            <img src="images/search.png" alt="search" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="images/love.png" alt="search" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="images/bag.png" alt="search" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <button>
                            ORDER NOW
                        </button>
            </div>
        </div>
    </header>
    <main>
        <section class="banner">
            <div class="container">
                <div class="row">
                <div class="banner-content">
                    <h1>
                        Eat Clean And Green.</br>Eat Organic
                    </h1>
                   <p>
                        Reach For a Healthier You With Organic Foods
                   </p>
                   <button class="btn-button">
                        Get Stared
                   </button>
                </div>
            </div>
            </div>
        </section>

        <!-- images -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="images d-flex justify-content-center w-2">
                        <div class="item1 w-2">
                            <img src="images/egg.webp" alt="egg" />
                            <p>

                            </p>
                        </div>
                        <div class="item1 w-2">
                            <img src="images/dite.webp" alt="dite" />
                            <p>

                            </p>
                        </div>
                        <div class="item1 w-2">
                            <img src="images/meat.webp" alt="meat" />
                        </div>
                        <p>

                        </p>
                        <div class="item1 w-2">
                            <img src="images/grap.webp" alt="grap" />
                            <p>

                            </p>
                        </div>
                        <div class="item1 w-2">
                            <img src="images/oil.webp" alt="oil" />
                        </div>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        </section>
    

        <!-- Product -->

        <section>
            <div class="container">
                <div class="row">
                    <div class="product justify-content-center d-flex ">
                       <p>
                        <b><em>PRODUCTS</em></b>
                       </p>
                       </div>
                       <div class="product-content justify-content-center d-flex w-4">
                        <div class="pd w-4">
                            <img src="images/jam1.webp" alt="jam1" />

                            <p>
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                            </p>
                            <h6>
                                SUPPLEMENTS
                            </h6>
                            <h4>
                                ELDERBERRY IMMUNE GUMMIES
                            </h4>
                            <h1>
                                $80.00 - $200.00
                            </h1>
                        </div>
                        <div class="pd w-4">
                            <img src="images/jam2.webp" alt="jam2" />
                            <p>
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                            </p>
                            <h6>
                                MEATS
                            </h6>
                            <h4>
                                ORGANIC CHICKEN TRENDERS
                            </h4>
                            <h1>
                                $80.00 - $200.00
                            </h1>
                        </div>
                        <div class="pd w-4">
                            <img src="images/jam3.webp" alt="jam3" />
                            <p>
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                            </p>
                            <h6>
                                FRUITS
                            </h6>
                            <h4>
                                SNACKS REALLY RASPBERRY
                            </h4>
                            <h1>
                                $80.00 -  $ 200.00
                            </h1>
                        </div>
                        <div class="pd w-4">
                            <img src="images/jam4.webp" alt="jam4" />
                            <p>
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                            </p>
                            <h6>
                               BUTTER & EGG
                            </h6>
                            <h4>
                                FREE LAUNDRY EGG
                            </h4>
                            <h1>
                                $80.00 - $200.00
                            </h1>
                        </div>
                        <div class="pd w-4">
                            <img src="images/jam1.webp" alt="jam1" />
                            <p>
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                            </p>
                            <h6>
                                SUPPLEMENTS
                            </h6>
                            <h4>
                                ELDERBERRY IMMUNE GUMMIES
                            </h4>
                            <h1>
                                $80.00 - $200.00
                            </h1>
                        </div>
                        <div class="pd w-4">
                            <img src="images/jam2.webp" alt="jam2" />
                            <p>
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                            </p>
                            <h6>
                                MEATS
                            </h6>
                            <h4>
                                ORGANIC CHICKEN TRENDERS
                            </h4>
                            <h1>
                                $80.00 - $200.00
                            </h1>
                        </div>
                        <div class="pd w-4">
                            <img src="images/jam3.webp" alt="jam3" />
                            <p>
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                            </p>
                            <h6>
                                FRUITS
                            </h6>
                            <h4>
                                SNACKS REALLY RASPBERRY
                            </h4>
                            <h1>
                                $80.00 - $200.00
                            </h1>
                        </div>
                        <div class="pd w-4">
                            <img src="images/jam4.webp" alt="jam4" />
                            <p>
                                <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                            </p>
                            <h6>
                                BUTTER & EGG
                            </h6>
                            <h4>
                                FREE LAUNDRY EGG
                            </h4>
                            <h1>
                                $80.00 - $200.00
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <sectuon>
            <div class="container">
                <div class="row">
                    <div class="shop-content d-flex w-4">
                        <div class="shop w-4">
                            <img src="images/juice.webp" alt="juice" />
                            <h5>
                                NATURAL FRESH
                            </h5>
                            <h2>
                                Discover </br>Real Organic </br>Flavors
                            </h2>
                            <button>
                                Shop Now
                            </button>
                        </div>
                        <div class="shop w-4">
                            <img src="images/juice2.webp" alt="juice2" />
                            <h5>
                                20% OFF ALL ORDER
                            </h5>
                            <h2>
                                Time </br>To Change </br>Your Diet Plan
                            </h2>
                            <button>
                                Shop Now
                            </button>
                        </div>
                        <div class="shop w-4">
                            <img src="images/juice3.webp" alt="juice3" />
                            <h5>
                                FREE SHIPING
                            </h5>
                            <h2>
                                Sourced </br>From</br> Organic Garden
                            </h2>
                            <button>
                                Shop Now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="sp-product">
                        <div class="special">
                            <img src="images/meat1.webp" alt="meat" />
                                <h5>
                                    Special Product
                                </h5>
                                <h1>
                                    Deals Of The Days.
                                </h1>
                                <h4>
                                    Snacks Really Raspberry
                                </h4>
                                <h3>
                                    $400.00-$350.00
                                </h3>
                                <div class="cir">
                                    <div class="s-cr d-flex">
                                        <div class="circle">
                                            <p>
                                                00
                                            </p>
                                            <h6>
                                                DAYS
                                            </h6>
                                        </div>
                                        <div class="circle">
                                            <p>
                                                00
                                            </p>
                                            <h6>
                                                HOURS
                                            </h6>
                                        </div>
                                        <div class="circle">
                                            <p>
                                                00
                                            </p>
                                            <h6>
                                                MINS
                                            </h6>
                                        </div>
                                        <div class="circle">
                                            <p>
                                                00
                                            </p>
                                            <h6>
                                                SECS
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <button>
                                    SHOP NOW    
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="up-product">
                           <img src="images/kos.webp" alt="kos"/>
                           <h5>
                            A LITTLE STORY ABOUT US
                        </h5>
                        <h1>
                            Friendly Organic Store
                        </h1>
                        <p>
                            Our farm is a second-generation organic farm that was our parents,</br>Mark & Renée Elliott’s dream to offer the best and healthiest range of organic foods available,</br>promote health in the community and bring a sense of discovery and adventure into food</br>shopping.
                        </p>
                        <button class="ctn-button">
                            OUR STORIES
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="np-product w-3 d-flex justify-content-between">
                        <div class="np-content d-flex align-item-center w-3">
                             <div class="np-cos w-6">
                                <img src="images/green.png" alt="green" />
                        
                                <h1>
                                    Eat More Healthfully.
                                </h1>
                                <p>
                                    Obtaining the recommended daily fruits</br>and vegetables.
                                </p>
                            </div>  
                        </div>
                        <div class="np-content d-flex align-item-center w-3">
                            <div class="np-cos w-6">
                               <img src="images/orange.png" alt="green" />
                       
                               <h1>
                                   Eat More Healthfully.
                               </h1>
                               <p>
                                   Obtaining the recommended daily fruits</br>and vegetables.
                               </p>
                           </div>  
                       </div>
                       <div class="np-content d-flex align-item-center w-3">
                        <div class="np-cos w-6">
                           <img src="images/blue.png" alt="green" />
                   
                           <h1>
                               Eat More Healthfully.
                           </h1>
                           <p>
                               Obtaining the recommended daily fruits</br>and vegetables.
                           </p>
                       </div>  
                   </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="product justify-content-left d-flex ">
                        <p>
                         <b><em>TOP PRODUCTS</em></b>
                        </p>
                        </div>
                        <div class="product-content justify-content-center d-flex w-4">
                         <div class="pd w-4">
                             <img src="images/coconat.webp" alt="jam1" />
 
                             <p>
                                 <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                             </p>
                             <h6>
                                 SUPPLEMENTS
                             </h6>
                             <h4>
                                 ELDERBERRY IMMUNE GUMMIES
                             </h4>
                             <h1>
                                 $80.00 - $200.00
                             </h1>
                         </div>
                         <div class="pd w-4">
                             <img src="images/jam2.webp" alt="jam2" />
                             <p>
                                 <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                             </p>
                             <h6>
                                 MEATS
                             </h6>
                             <h4>
                                 ORGANIC CHICKEN TRENDERS
                             </h4>
                             <h1>
                                 $80.00 - $200.00
                             </h1>
                         </div>
                         <div class="pd w-4">
                             <img src="images/vigin.webp" alt="jam3" />
                             <p>
                                 <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                             </p>
                             <h6>
                                 FRUITS
                             </h6>
                             <h4>
                                 SNACKS REALLY RASPBERRY
                             </h4>
                             <h1>
                                 $80.00 -  $ 200.00
                             </h1>
                         </div>
                         <div class="pd w-4">
                             <img src="images/packet.webp" alt="jam4" />
                             <p>
                                 <i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>(1)
                             </p>
                             <h6>
                                BUTTER & EGG
                             </h6>
                             <h4>
                                 FREE LAUNDRY EGG
                             </h4>
                             <h1>
                                 $80.00 - $200.00
                             </h1>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="jc-content">
                        <img src="images/cocolate.png" alt="cocolate"/>
                        <h5>
                            REACH FOR A HEALTHIER YOU
                        </h5>
                        <h1>
                            Eat clean and green.
                        </h1>
                        <p>
                            Our farm is a second-generation organic farm that was our parents, Mark & </br>Renée Elliott’s dream to offer the best and healthiest range of organic foods </br>available, promote health in the community and bring a sense of discovery and</br>
                            adventure into food shopping.
                        </p>
                        <button class="stn-button">
                            Learn More
                        </button>
                    </div>
                </div>
            </div>  
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="footer d-flex  w-3">
                        <div class="footer-content w-5">
                             <img src="images/logo.png.webp" alt="logo" />
                            <p>
                                Get on the list so we can stay in touch
                            </p>
                            <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Your email address...">
                            <div class="icon-con d-flex">
                                <div class="icon-cos">
                                    <img src="images/twitter.png " alt="icon" />
                                </div>
                                <div class="icon-cos">
                                    <img src="images/instagram.png" alt="icon" />
                                </div>
                                <div class="icon-cos">
                                    <img src="images/facebook.png" alt="icon" />
                                </div>
                                <div class="icon-cos">
                                    <img src="images/social.png" alt="icon" />
                                </div>
                            </div>
                            <p>
                                T : +1-202-555-0184
                            </p>
                            <p>
                                E : hello@fisinostore.co.uk
                            </p>

                        </br> 
                        </br> 
                        </br>

                        </div>
                        <div class="footer-content w-3">
                            <h3>
                                CUSTOMER SERVICE
                            </h3>
                            <h4>
                                Contact Us
                            <h4>
                                Track Your Order
                            </h4>
                            <h4>
                                Returns Policy
                            </h4>
                            <h4>
                                Delivery Information
                            </h4>
                            <h4>
                                Loyalty Program
                            </h4>
                            <h4>
                                Help & FAQ
                            </h4>
                            <h4>
                                Warranty & Repair
                            </h4>
                        </div>
                        <div class="footer-content w-3">
                            <h3>
                                CATEGORIES
                            </h3>
                            <h4>
                                Contact Us
                            <h4>
                                Fruits & Vegetables
                            </h4>
                            <h4>
                                Dairy Products
                            </h4>
                            <h4>
                                Package Foods
                            </h4>
                            <h4>
                                Beverage
                            </h4>
                            <h4>
                                Health & Wellness
                            </h4>
                
                        </div>
                        <div class="footer-content w-3">
                            <h3>
                                MY ACCOUNT
                            </h3>
                            <h4>
                                My Account
                            <h4>
                                Contact
                            </h4>
                            <h4>
                                Shopping cart
                            </h4>
                            <h4>
                                Shop
                            </h4>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="payment d-flex w-12">
                        <div class="payment-content d-flex w-8">
                            <div class="help w-3">
                                <p>
                                    © 2021 Econis Store
                                </p>
                            </div>
                            <div class="help w-3">
                                <p>
                                    Privacy Policy |
                                </p>
                            </div>
                            <div class="help w-3">
                                <p>
                                    Terms & Conditions |
                                </p>
                            </div>
                            <div class="help w-3">
                                <p>
                                    Cookies/Ad Choices 
                                </p>
                            </div>
                        </div>
                        <div class="payment-content w-4">
                            <img src="images/paymet-1.png" alt="payment" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>